version: '3'
services:
    day4-rails-project-all-in-one:
        container_name: day4-rails-project-all-in-one
        build:
            context: .
            dockerfile: Dockerfile_for_yml.cache
        command: rails s -b 0.0.0.0 -e development
        working_dir: /rails_app_dir/my_rails_app
        volumes:
            - ./#app_dir_name#:/rails_app_dir/my_rails_app
        ports:
            - '3000:3000'
        networks:
            - db

networks:
    db:
        driver: bridge


